* {
  margin: 0;
  padding: 0;
}

Textarea {
  width: 60%;
  resize: none;

  background-color: #f0e9f6;

  color: rgb(3, 26, 100);
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  font-size: 0.7rem;
  box-sizing: border-box;
  border: 1px solid #cc94e8;
  border-radius: 4px;
}

.App {
  height: 100vh;
  background-color: #35244a;
}

.answer-box {
  height: 20%;
  margin: 2% 10%;
}

.text-box {
  height: 4%;
  margin: 0% 10%;
}
